In [21]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#from bokeh.plotting import figure, output_file, show, output_notebook
#output_notebook()

In [25]:
def make_dashboard(x, gdp_change, unemployment, title):#, file_name):
    #output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color='firebrick',
          line_width=4, legend='% GDP change')
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend='% unemployed')
    show(p)

In [26]:
# CSV files with the GDP data and the unemployment data
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

1) Dataframe that contains the GDP data

In [27]:
gdp_df = pd.read_csv(links['GDP'])
gdp_df.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

2) Dataframe that contains the unemployment data.

In [28]:
unemp_df = pd.read_csv(links['unemployment'])
unemp_df.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

3) Dataframe where unemployment was greater than 8.5%

In [29]:
unemp_df[unemp_df['unemployment']>8.5]

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

# Make a dashboard

We need inputs for the function make_dashboard(x, gdp_change, unemployment, title, file_name)

In [30]:
# new dataframe with the column 'date' from GDP data
x = gdp_df[['date']]

In [31]:
# new dataframe with the column 'change-current' from GDP data
gdp_change = gdp_df[['change-current']]

In [32]:
# new dataframe with the column 'unemployment' from unemployment data
unemployment = unemp_df[['unemployment']]

In [33]:
# title of my dashboard
title = 'US Economic Data'

In [34]:
file_name = 'index.html'

In [35]:
# call the function make_dashboard
make_dashboard(x, gdp_change, unemployment, title)#, file_name)